body {
font-family: "Noto Serif", serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 20%;
    margin-bottom: 20px;
}

.banner {
    margin-left: 0px;
    margin-right: 0px;
    background-color: #FDFBF1;
    border-top: 2px solid;
    border-top-color: #FBE4AE;
    width: 100%;
    text-align: center;
    color: #357778;
}

.banner span {
    font-weight: bold;
}

#content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-main h1 {
    width: 40%;
    text-align: center;
    margin-top: 5%;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

#content-main p {
    width: 60%;
}

.imgContainer {
    aspect-ratio: 16/9;
    width: 60%;
    overflow: hidden;
}

.imgFocaccia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.caption {
    color: #9999;
    text-align: center;
}

.featured {
    border-left: 2px solid;
    border-color: #FBE4AE;
    padding-left: 20px;
    width: 60%;

}

.featured p {
    color: #b5472a;
    margin-bottom: 5px;
    margin-top: 5px;
}

.featured a {
    text-align: left;
    color: #107778;
}

h2 {
    margin-top: 4%;
    font-weight: 500;
}

.recipe {
    width: 60%;
}

.recipe h2 {
    margin-top: 5%;
}

.recipe h3 {
    font-style: bold;
}

.recipe hr {
    color: #C5F3F2;
    background-color: #C5F3F2;
    height: 2px;
    border: none;
}

li {
    margin: 2%;
}

.topping {
    margin-top: 5%;
}

.dough {
    font-weight: bold;
}
