* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EAEDED;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    background-color: #222F3E;
}

.logo img {
    height: 3rem;
    margin: 1.5rem;
    margin-top: 1rem;
}

.Nav {
    background-color: #354758;
    padding: 0.5rem;
    padding-left: 2rem;

}

.Nav a {
    margin-right: 1.5rem;
    color: white;
    font-size: larger;
    text-decoration: none;
}

.topContainer {
    padding: 2rem;
}

.CTA {
    background-color: #F56600;
    text-align: center;
    color: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.giftGuides {
    background-image: url(./assets/bg-image.png);
    background-size: contain;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.giftGuides p {
    color: white;
    font-weight: bold;
    text-align: center;
}

.giftGuides .title {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.giftGuides .subtitle {
    font-size: 1.5rem;
}

.rowShopping {
    padding: 2rem;
    padding-bottom: 0rem
}

.boxCard {
    background-color: white;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 3rem;
    height: 25%;
}

.boxCard p {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.boxCard span {
    color: #017185;
    font-weight: bolder;
    font-size: 1rem;
    padding-left: 1rem;
}

.grid1 {
    display: flex;
    gap: 1rem;

}

.card {
    width: 25%;
}

.card img {
    width: 100%;
    height: 350px;
    border-radius: 7%;
    object-fit: cover;
}

.banner {
    padding-bottom: 1rem;
}

.banner img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.figcaption {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 1rem;
    text-align: center;
}

.figcaption span {
    color: #017185;
    font-weight: bolder;
    font-size: 1rem;
    padding-left: 1rem;
}

.footer {
    margin: 0;
}

.back {
    background-color: #354758;
    padding: 1rem;
    text-align: center;
}

.back a {
    color: white
}

.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222F3E;
    min-height: 150px;
}

.logoFooter img {
    height: 3rem;
}

.extra {
    display: flex;
    flex-direction: row;
    background-color:#EAEDED;
    margin:-1rem;
    margin-bottom:2rem;
    
}

.regali{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:5%;
    padding-bottom: 1rem;
}

.extraCard {
    display:grid;
    grid-template-columns: 1fr;
    background-color: white;
    margin:1rem;
    padding: 1rem;
}

.extraCard p{
    font-weight: bolder;
    padding-bottom: 1rem;
}

.extraCard img{
    max-width: 90%;
    height: 140px;
    object-fit: cover;
}

.extraCard a{
    display: block;
    color:#017185;
    text-decoration: none;
    margin-top: 1rem;
}

.new{
    position:relative;
    display: inline-block;
}

.newStamp img{
    position: absolute;
    top: 35%;
    left:60%;
    width: 35%;
    object-fit: contain;
}

.caption{
    font-size: small;
    font-weight:lighter;
    padding-bottom: 1rem;
    margin-top: 0;
    padding-top: 0;
}