@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }

  #main {
    width: 100%;
  }

 #content {
    height: 100%;
 }

 #sidebar {
    display:flex;
    flex-direction: column;
    align-items: center;
 }

 .sidebaricon {
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .sidebaricon p {
    margin:0;
 }

 .sidebaricon ion-icon {
     font-size: 1.5em;
 }

 #topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #logo{
    height: 50%;
 }

 #search-wrapper {
    display: flex;
    height: 50%;
 }

 .topbar-icons ion-icon {
    font-size: 1.8em;
    padding: 0 0.3em;
 }

 #topbar-icons{
    display: flex;
 }

 #mic{
    margin: 0 0.5em ;
    display: flex;
    align-items: center;
 }

 #mic ion-icon {
    font-size: 1.7em;
 }


 #searchbtn {
    display: flex;
    align-items: center;
    padding: 0 0.7em;
    font-size: 1.3em;
    
 }

 #content {
    height:90vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.row1 {
    display: flex;
    height:auto;
    flex-direction: column;
    padding: 2em;
}

.uploader {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.video1{
    width:100%;
    
}