@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }

  #main {
    width: 100%;
  }

 #content {
    height: 100%;
 }

 #sidebar {
    display:flex;
    flex-direction: column;
    align-items: center;
 }

 .sidebaricon {
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .sidebaricon p {
    margin:0;
 }

 .sidebaricon ion-icon {
     font-size: 1.5em;
 }

 #topbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #logo{
    height: 50%;
 }

 #search-wrapper {
    display: flex;
    height: 50%;
 }

 .topbar-icons ion-icon {
    font-size: 1.8em;
    padding: 0 0.3em;
 }

 #topbar-icons{
    display: flex;
 }

 #mic{
    margin: 0 0.5em ;
    display: flex;
    align-items: center;
 }

 #mic ion-icon {
    font-size: 1.7em;
 }


 #searchbtn {
    display: flex;
    align-items: center;
    padding: 0 0.7em;
    font-size: 1.3em;
    
 }

#video-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-right: 20px;
}

.video-card {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
}

.video-info {
    display: flex;
    margin-top: 10px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

.description {
    margin: 0;
    font-size: 14px;
    color: gray;
}

